<!DOCTYPE html>
<html ng-app>
<head>
<title>agl_start.html</title>
<meta charset="utf-8">
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta name="content-type" content="text/html; charset=UTF-8">
<style>
.ShowCarousel {
	padding-top: 10px;
}
</style>
</head>

<body>
	<div class="container">
		<div class="container">
			<!-- Login and Register -->
			<div class="col-md-3">
				<button class="btn btn-info btn-block" uib-tooltip="点击登录" tooltip-placement="top-left" ng-click="addModal()">登录</button>
			</div>
			<div class="col-md-3">
				<button class="btn btn-default btn-block" ng-click="register()">注册</button>
			</div>
		</div>
		<div class="ShowCarousel col-md-6" ng-controller="CarouselCtl">
			<uib-carousel class="carouselslide" interval="myInterval" no-wrap="noWrapSlides"> <uib-slide
				ng-repeat="image in images" active="slide.active"> <img
				ng-src="{{image.path}}" style="margin:auto;" uib-tooltip="这是{{image.name}}" tooltip-placement="top-left"> </uib-slide> </uib-carousel>
		</div>
	</div>
</body>
</html>
