<html ng-app>
<head>
<meta charset="utf-8" />
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta name="content-type" content="text/html; charset=UTF-8">
</head>
<body class="col-md-6">
	<div class="modal-header">
		<h3 class="modal-title">欢迎登录</h3>
	</div>
	<div class="modal-body">
		<form>
			<!-- NAME -->
			<div id="name-group" class="form-group">
				<div class="col-md-12">
					<div class="input-group">
						<span class="input-group-addon"> <span
							class="glyphicon glyphicon-user"></span></span> <input type="text"
							name="name" class="form-control" placeholder="请输入用户名"
							ng-model="formData.name" required>
					</div>
				</div>
			</div>

			<!-- SUPERHERO NAME -->
			<div id="pwd-group" class="form-group">
				<div class="col-md-12">
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span><input
							type="password" name="pwd" class="form-control"
							placeholder="请输入密码" ng-model="formData.pwd" required>
					</div>
				</div>
			</div>

			<!-- Error MESSAGE -->
			<div>
				<span style="color:red" ng-model="errorMessage">{{errorMessage}}</span>
			</div>
		</form>
		{{formData}}
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">确认</button>
		<button class="btn btn-warning" ng-click="cancel()">退出</button>
	</div>
</body>
</html>