<!DOCTYPE html>
<html>
<head>
<title>welcome.html</title>
<meta charset="utf-8">
<script src="http://code.angularjs.org/angular-1.0.1.min.js"></script>

<!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

</head>

<body>
	<div ng-app="myApp" ng-controller="postCtrl">
		<h5>在此输入微博</h5>
		<textarea ng-focus="focus()" placeholder='{{placeholder}}' ng-blur="blur()" ng-model="content" style=width:600px;height:100px></textarea>
		<br /> 
		<a href="#">表情</a> <a href="#">图片</a> <a href="#">视频</a> <a
			href="#">话题</a> <a href="#">头条文章</a>
		<button ng-click="blog()">发布</button>
		<p>{{ content }}</p>
	</div>
	<div class="showblogs" ng-controller="showCtrl"></div>
	<script>	
		var app = angular.module('myApp', []);
		app.controller('postCtrl', function($scope,$http) {
			var defaultTitle='#输入话题#';
			var defaultPlaceHolder='我是placeholder';
			$scope.placeholder = defaultTitle + defaultPlaceHolder;
			
			$scope.focus = function () {
                if (!$scope.content) {
                    $scope.content = defaultTitle;
                }
            };
			$scope.blur = function () {
                if ($scope.content === defaultTitle) {
                    $scope.content = '';
                }
            };
			$scope.blog = function (){
				var data = {b_content:$scope.content,b_uname:'1111'};
				$http.post('/Spring/blog/publish1.do',data).success(function(response){});
			};
		});
	</script>
</body>
</html>
